classes/
work/
target/
target-eclipse/
.idea/
*.iml
build/
deployed/
verified/
logs/
**/logs/*
*.log
out/
.metadata
examples/
WebContent/logs/

WebContent/WEB-INF/platform/configuration/org.eclipse.osgi

